@model EnterpriseWeb.Models.ClosureDate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClosureDate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClousureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClousureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
