@model EnterpriseWeb.Models.Idea

@{
  ViewData["Title"] = "Details";
}

@{
  var ratingUp = Model.Ratings.GroupBy(u => u.IdeaID).Sum(g => g.Sum(u => u.RatingUp));
  var ratingDown = Model.Ratings.GroupBy(d => d.IdeaID).Sum(g => g.Sum(d => d.RatingDown));
  var totalComment = Model.Comments?.Count() ?? 0;
  var isLiked = Model.Ratings.Any(r => r.UserId == ViewBag.UserId && r.RatingUp==1);
  var isDisliked = Model.Ratings.Any(r => r.UserId == ViewBag.UserId && r.RatingDown==1);
}

<div id="blog" class="flex-container"
  style="padding:30px; border: 0.5px outset; width:70%; margin:auto; margin-bottom:20px; border-radius:20px; background: rgb(247 247 247); margin-top: 20px;">
  <div class="col-md-8 col-sm-8 col-xs-12" style="margin: auto; ">
    <div class="single-blog">
      <div>
        @if (Model.IdeaUser != null && Model.IdeaStatus == 0)
        {
          <img class="avatar-default" style="object-fit: cover;height: 150px;border-radius: 50%;width: 150px;" />
        }
        else if (Model.IdeaUser != null && Model.IdeaStatus ==1)
        {
          <img src="data:image;base64,@System.Convert.ToBase64String(Model.IdeaUser.ProfilePicture)"
            style="object-fit: cover;height: 150px;border-radius: 50%;width: 150px;" />
        }
        <h4 style="display: inline-block; padding-left:20px;">
          @if(Model.IdeaStatus == 1){
            @Html.DisplayFor(model => model.IdeaUser.Name)
          }else{
            <text>Anonymous</text>
          }    
          
          <br>
          <span style="font-size:15px; text-align:center; display:block">&lt; Department: @Html.DisplayFor(model =>
            model.Department.Name) &gt;</span>

        </h4>
      </div>
      <div class="blog-meta">
        <span class="date-type">
          <i class="fa fa-calendar"></i>Submission Date: @Html.DisplayFor(model => model.SubmissionDate)
          <br>
          <i class='fas fa-calendar-times' style="color:rgba(255, 0, 0, 0.751)"></i>Closure Date:
          @Html.DisplayFor(model => model.ClosureDate.FinalDate)
        </span>
      </div>
      <div class="blog-text">
        <h4>
          Title:
          <b>@Html.DisplayFor(model => model.Title)</b>
        </h4>
        <p style="text-align: justify;">
          <b>Description: &ldquo;</b>
          <i>
            @Html.DisplayFor(model => model.Description)
          </i>
          <b>&rdquo; &middot;</b>
        </p>
      </div>

      <a>
        <i class="far fa-eye"></i> View: @Html.DisplayFor(model => model.Viewings.Count)
        <i class="far fa-comment" style="padding-left: 15px"></i> Comments: @totalComment
        <i class="far fa-thumbs-up" style="padding-left: 15px"></i> Rating Up: <span
          id="rating-up-@Model.Id">@ratingUp</span>
        <i class="far fa-thumbs-down" style="padding-left: 15px"></i> Rating Down: <span
          id="rating-down-@Model.Id">@ratingDown</span>
      </a>

      <br>
      <b>Comment:</b>
      <div style="border-radius: 5px 20px 5px; border: 2px outset; padding:20px; overflow:auto; max-height:250px">
        <dl id="comments-list" class="row comment-list" style="margin-bottom: 0rem;">
          <div class="text-right">
              <a asp-action="Details" class="btn btn-outline-dark" asp-route-id="@Model.Id" asp-route-sortOrder=@ViewData["Latest"]>
                  Latest Comment
              </a>
          </div> 
          <br><br>         
          @for (var i = 0; i < Math.Min(Model.Comments.Count(), 5); i++)
          {
            var commentArray = Model.Comments.ToArray();
            <dd class="col-sm-10">
              <strong>
                @if (commentArray[i].status == 1)
                {
                  @Html.DisplayFor(modelItem => commentArray[i].IdeaUser.Name)
                }
                else
                {
                  <text>Anonymous</text>
                }:
              </strong>

              @Html.DisplayFor(modelItem => commentArray[i].CommentText)
              <br>
            </dd>
            <dd class = "col-sm-2">
              @Html.DisplayFor(modelItem => commentArray[i].SubmitDate)
            </dd>
          }
        </dl>
        @* Hidden list *@
        <dl id="comments-list-hidden" class="row comment-list" style="display:none">
          @for (var i = 5; i < totalComment; i++)
          {
            var commentArray = Model.Comments.ToArray();
            <dd class="col-sm-10">
              <strong>
                @if (commentArray[i].status == 1)
                {
                  @Html.DisplayFor(modelItem => commentArray[i].IdeaUser.Name)
                }
                else
                {
                  <text>Anonymous</text>
                }:
              </strong>

              @Html.DisplayFor(modelItem => commentArray[i].CommentText)
              <br>
            </dd>
            <dd class = "col-sm-2">
              @Html.DisplayFor(modelItem => commentArray[i].SubmitDate)
            </dd>
          }
        </dl>
        @if (totalComment > 5)
        {
          <button id="show-more" class="btn btn-light" style="background: #f0f0f0;">Show more</button>
        }
      </div>
      <br>
      @if (Model.ClosureDate != null && Model.ClosureDate.ClousureDate > DateTime.Now)
      {
        <div>
          <a style="padding-left: 0" class="thumb-up-btn far fa-thumbs-up btn btn-light @(isLiked ? "active" : "")" asp-action="DetailRating"
            asp-route-id="@Model.Id" asp-route-isUp="true" data-id="@Model.Id" data-isup=0> Thumb Up</a>
          <a class="thumb-down-btn far fa-thumbs-down btn btn-light @(isDisliked ? "active" : "")" asp-action="DetailRating" asp-route-id="@Model.Id"
            asp-route-isUp="false" data-id="@Model.Id" data-isup=1> Thumb Down</a>
        </div>
      }
      else
      {
        <div class="alert alert-danger">
          The closure date has passed.
        </div>
      }
      <br>
      @if (Model.ClosureDate != null && Model.ClosureDate.FinalDate > DateTime.Now)
      {
        <form asp-action="Comment" asp-route-id="@Model.Id">
          <div class="input-group" style="max-width:80%;">
            <input class="form-control comment-box" name="commenttext" placeholder="Comment" />
            <select name="incognito" style="min-with:20%; max-width:30%;">
              <option value="no">Public</option>
              <option value="yes">Incognito Comment</option>
            </select>
            <input type="submit" value="Comment" class="btn btn-dark" style="display:" />
          </div>
          <br>
          <a asp-action="Index" class="btn btn-secondary">Back to Full List</a>
        </form>
      }
      else
      {
        <div class="alert alert-danger">
          The Final date has passed.
        </div>
      }

    </div>
  </div>
</div>





<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    var showMoreBtn = $('#show-more');
    var commentsListHidden = $('#comments-list-hidden');

    showMoreBtn.click(function () {
      if (commentsListHidden.is(':visible')) {
        commentsListHidden.hide();
        showMoreBtn.text('Show more');
      } else {
        commentsListHidden.show();
        showMoreBtn.text('Show less');
      }
    });


    $(".thumb-up-btn, .thumb-down-btn").click(function (e) {
      e.preventDefault();
      var button = $(this);
      var ideaId = button.data("id");
      var isUp = button.data("isup");
      var url = "/Idea/CreateRating?id=" + ideaId + "&isUp=" + isUp;
      $.ajax({
        type: "POST",
        url: url,
        dataType: "json",
        contentType: "application/json",
        success: function (data) {
          if (button.hasClass("active")) {
            button.removeClass("active");
          } else {
            button.addClass("active");
            button.siblings(".thumb-up-btn, .thumb-down-btn").removeClass("active");
          } var viewing = data.views;
          var ratingUp = data.upvotes;
          var ratingDown = data.downvotes;
          $("#views-" + ideaId).text(viewing);
          $("#rating-up-" + ideaId).text(ratingUp);
          $("#rating-down-" + ideaId).text(ratingDown);
        },
        error: function () {
          Swal.fire("Oops...", "Something went wrong!", "error");
        }
      });
    });
    


  });
</script>
