@model PaginatedList<EnterpriseWeb.Models.Idea>
<div class="content-wrapper">
    <h1>Index</h1>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <p>
                <a asp-action="ExportIdeaList" type="submit" class="btn btn-secondary">Export Idea List</a>
                <a asp-action="Chart" class="btn btn-warning">Chart</a>
            </p>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All QACoordinator</h3>
                <div class="card-tools">
                    <div class="input-group-append">
                        <form asp-action="ViewQA" method="get">
                          <p>
                              <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                              <button type = "submit" value="Search"><i class="fas fa-search"></i></button>
                          </p>
                    </form>
                
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Name</th>
                      <th>View</th>
                      <th>Status</th>
                      <th>SubmissionDate</th>
                      <th>SupportingDocuments</th>
                      <th>ClosureDate</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model) {
                         var totalViews = item.Viewings.GroupBy(v => v.IdeaId).Sum(g => g.Sum(v => v.Count));
                        <tr>                          
                          <td>@Html.DisplayFor(modelItem => item.Id)</td>
                          <td>@Html.DisplayFor(modelItem => item.Title)</td>
                          <td>
                           
                              <textarea readonly>@Html.DisplayFor(modelItem => item.Description)</textarea>
                           
                          </td>
                          <td>@Html.DisplayFor(modelItem => item.IdeaUser.Name)</td>
                          <td>
                            @totalViews
                          </td>
                          <td>
                            @if(item.Status == 0)
                            {
                              <span class="alert alert-info">Under review</span>
                            }
                            else if(item.Status == 1)
                            {
                              <span class="alert alert-success">Approved</span>
                            }
                            else
                            {
                              <span class="alert alert-danger">Rejected</span>
                            }
                          </td>
                          <td>@Html.DisplayFor(modelItem => item.SubmissionDate)</td>
                          <td>@Html.DisplayFor(modelItem => item.SupportingDocuments)
                            @if(item.DataFile!=null)
                            {
                              <form method="post" action="@Url.Action("Download", "Idea")">
                                  <input type="hidden" name="fileName" value="@item.SupportingDocuments" />
                                  <input type="hidden" name="dataFile" value="@System.Convert.ToBase64String(item.DataFile)"/>
                                  <button id="downloadBtn" type="submit">Download</button>
                              </form>
                            }                            
                          </td>
                          @* <td>@Html.DisplayFor(modelItem => item.Department.Name)</td> *@
                          <td>@Html.DisplayFor(modelItem => item.ClosureDate.FinalDate)</td>
                                 
                        </tr>
                      }
                  </tbody>
                </table>
                <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-left">
                    <li class="page-item"><a class="page-link" asp-action="ViewQA"
                              asp-route-pageNumber="1"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  <i class = "fas fa-angle-double-left"></i>                  
                              </a></li> 
                        @{
                          int i = Model.PageIndex;
                          if(i >= 1 && i <= 2 && Model.TotalPages < 3){
                            for(i = 1; i <= Model.TotalPages; i ++){
                              <li class="page-item"><a class="page-link" asp-action="ViewQA"
                              asp-route-pageNumber="@(i)"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  @(i)                
                              </a></li>                     
                              }
                          }
                          else if(i >= 0 && i <= 2 && Model.TotalPages >= 3){
                                for(i = 1; i <= 3; i ++){
                                  <li class="page-item"><a class="page-link" asp-action="ViewQA"
                                  asp-route-pageNumber="@(i)"
                                  asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                      @(i)                
                                  </a></li>                     
                                  }
                          }else if (i < Model.TotalPages && i >= 2 && Model.TotalPages >= 2){
                            for(i = Model.PageIndex - 1; i < Model.PageIndex + 2; i++){
                                <li class="page-item"><a class="page-link" asp-action="ViewQA"
                              asp-route-pageNumber="@(i)"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  @(i)                
                              </a></li> 
                            }
                        } 
                        else if (Model.PageIndex >= Model.TotalPages){
                           for(i = Model.TotalPages - 2; i < Model.TotalPages + 1; i++){
                                <li class="page-item"><a class="page-link" asp-action="ViewQA"
                              asp-route-pageNumber="@(i)"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  @(i)                
                              </a></li> 
                        }
                        }
                        }
                        @if(Model.TotalPages > 0){
                      <li class="page-item"><a class="page-link" asp-action="ViewQA"
                      asp-route-pageNumber="@(Model.TotalPages)"
                      asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            <i class = "fas fa-angle-double-right"></i>                
                        </a></li>
                      }else{
                        <li class="page-item"><a class="page-link" asp-action="ViewQA"
                      asp-route-pageNumber="1"
                      asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            <i class = "fas fa-angle-double-right"></i>                
                        </a></li>
                      }
                </ul> 
              </div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

@section scripts {
    <script>
        document.getElementById("downloadBtn").addEventListener("click", function() {
            alert("Your download will begin shortly...");
        });
    </script>
}