@model PaginatedList<EnterpriseWeb.Models.Idea>
<div class="content-wrapper">
    @if (ViewData["message"] != null)
    {
        <div class="alert @ViewData["messageClass"] alert-dismissible fade show" role="alert">
            @ViewData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }  
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            @* <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
                <a asp-action="ExportIdeaList" type="submit" class="btn btn-secondary">Export Idea List</a>
                <a asp-action="Chart" class="btn btn-warning">Chart</a>
            </p> *@
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All QACoordinator</h3>
                <div class="card-tools">
                    <div class="input-group-append">
                        <form asp-action="ViewIdea" method="get">
                          <p>
                              <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                              <button type = "submit" value="Search"><i class="fas fa-search"></i></button>
                              <div display: inline-block;>
                                <a class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Filter
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" asp-action="ViewIdea" asp-route-filterIdea="all">All</a></li>
                                  <li><a class="dropdown-item" asp-action="ViewIdea" asp-route-filterIdea="approve">Filter by
                                      Approve</a></li>
                                  <li><a class="dropdown-item" asp-action="ViewIdea" asp-route-filterIdea="reject">Filter by
                                      Reject</a></li>
                                  <li><a class="dropdown-item" asp-action="ViewIdea" asp-route-filterIdea="underreview">Filter by
                                      UnderReview</a></li>
                              </ul>
                            </div>
                          </p>
                    </form>
                
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Name</th>
                      <th>View</th>
                      <th>Status</th>
                      <th>SubmissionDate</th>
                      <th>SupportingDocuments</th>
                      <th>ClosureDate</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model) {
                         var totalViews = item.Viewings.GroupBy(v => v.IdeaId).Sum(g => g.Sum(v => v.Count));
                        <tr>                          
                          <td>@Html.DisplayFor(modelItem => item.Id)</td>
                          <td>@Html.DisplayFor(modelItem => item.Title)</td>
                          <td>
                            <textarea readonly>@Html.DisplayFor(modelItem => item.Description)</textarea>
                          </td>
                          <td>@Html.DisplayFor(modelItem => item.IdeaUser.Name)</td>
                          <td>
                            @totalViews
                          </td>
                          <td>
                            @if(item.Status == 0)
                            {
                              <span class="alert alert-info">Under review</span>
                            }
                            else if(item.Status == 1)
                            {
                              <span class="alert alert-success">Approved</span>
                            }
                            else
                            {
                              <span class="alert alert-danger">Rejected</span>
                            }
                          </td>
                          <td>@Html.DisplayFor(modelItem => item.SubmissionDate)</td>
                          <td>@Html.DisplayFor(modelItem => item.SupportingDocuments)</td>
                          @* <td>@Html.DisplayFor(modelItem => item.Department.Name)</td> *@
                          <td>@Html.DisplayFor(modelItem => item.ClosureDate.FinalDate)</td>
                           <td>
                            <a asp-action="EditQA" asp-route-id="@item.Id" class = "btn btn-dark"><i class = "fas fa-eye"></i></a>
                            <a asp-action="DeleteQA" asp-route-id="@item.Id" class = "btn btn-danger"><i class = "fas fa-trash"></i></a>
                          </td>
                          @*
                          <td>
                            @if (item.ClosureDate != null && item.ClosureDate.ClousureDate > DateTime.Now)
                            {
                                <a asp-action="CreateRating" asp-route-id="@item.Id" asp-route-isUp="true">Up</a>
                                <text>|</text>
                                <a asp-action="CreateRating" asp-route-id="@item.Id" asp-route-isUp="false">Down</a>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    The closure date has passed.
                                </div>
                            }
                        </td>          *@
                        </tr>
                      }
                  </tbody>
                </table>
                <div class="card-footer clearfix">
                  <ul class="pagination pagination-sm m-0 float-left">
                    <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                              asp-route-pageNumber="1"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  <i class = "fas fa-angle-double-left"></i>                  
                              </a></li> 
                        @{
                          int i = Model.PageIndex;
                          if(i >= 1 && i <= 2 && Model.TotalPages < 3){
                            for(i = 1; i <= Model.TotalPages; i ++){
                              <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                              asp-route-pageNumber="@(i)"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  @(i)                
                              </a></li>                     
                              }
                          }
                          else if(i >= 0 && i <= 2 && Model.TotalPages >= 3){
                                for(i = 1; i <= 3; i ++){
                                  <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                                  asp-route-pageNumber="@(i)"
                                  asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                      @(i)                
                                  </a></li>                     
                                  }
                          }else if (i < Model.TotalPages && i >= 2 && Model.TotalPages >= 2){
                            for(i = Model.PageIndex - 1; i < Model.PageIndex + 2; i++){
                                <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                              asp-route-pageNumber="@(i)"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  @(i)                
                              </a></li> 
                            }
                        } 
                        else if (Model.PageIndex >= Model.TotalPages){
                           for(i = Model.TotalPages - 2; i < Model.TotalPages + 1; i++){
                                <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                              asp-route-pageNumber="@(i)"
                              asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                  @(i)                
                              </a></li> 
                        }
                        }
                        }
                        @if(Model.TotalPages > 0){
                      <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                      asp-route-pageNumber="@(Model.TotalPages)"
                      asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            <i class = "fas fa-angle-double-right"></i>                
                        </a></li>
                      }else{
                        <li class="page-item"><a class="page-link" asp-action="ViewIdea"
                      asp-route-pageNumber="1"
                      asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            <i class = "fas fa-angle-double-right"></i>                
                        </a></li>
                      }
                </ul> 
              </div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>